# connections.cfg
#
[connections]
default_connection=cassiopeia

[_default_configuration_]
database_model=postgresql|oracle
dsn=null | connect_string
host=IPaddress or HostName
port=Port - default: 5432|1521
database=DatabaseName | ServiceName
user=UserName | username
password=<password>
schema=SchemaName | username (optional)

[cassiopeia]
database_model=postgresql
host=192.168.56.1
port=5432
database=cassiopeiadb
user=cassiopeia
password=central
schema=dbadm

[library_db]
database_model=postgresql
host=192.168.56.1
port=5432
database=library_db
user=library
password=central
schema=library

[freepdb1]
database_model=oracle
host=192.168.56.101
port=1521
database=freepdb1
user=colapp
password=central
schema=

[ora26free]
database_model=oracle
dsn=free26pdb1
database=freepdb1
user=colapp
password=central
schema=

[alb_ora_mon2db]
database_model=oracle
dsn=MON2DB
database=MON2DB
user=pcz01h5y
password=RobertJiranek1969
schema=

[x_alb_ora_mon2db]
database_model=oracle
host=mon2db.ahold.net
port=1521
dsn=MON2DB
database=MON2DB
user=pcz01h5y
password=RobertJiranek1969