# connections.cfg
#
[connections]
default_connection=ora26free

[_default_configuration_]
client_type=postgresql|oracle
host=IPaddress or HostName
port=Port - default: 5432|1521
database=DatabaseName | ServiceName
user=UserName | username
password=<password>
schema=SchemaName | username (optional)

[cassiopeia]
client_type=postgresql
host=192.168.56.1
port=5432
database=cassiopeiadb
user=cassiopeia
password=central
schema=dbadm

[library_db]
client_type=postgresql
host=192.168.56.1
port=5432
database=library_db
user=library
password=central
schema=library

[ora26free]
client_type=oracle
host=192.168.56.101
port=1521
database=freepdb1
user=colapp
password=central
schema=

[alb_ora_mon2db]
client_type=oracle
host=mon2db.ahold.net
port=1521
database=MON2DB
user=pcz01h5y
password=RobertJiranek1969
schema=
