# databases.cfg
# ********************************************************************************************************
# if in database exists view dbadm.session_info_v
# session_sysinfo_query= = "SELECT current_database,current_user,version,sid from dbadm.session_info_v;"
# ********************************************************************************************************

[global]
directory_config=

[logging]
# allowed values: True or False
logging_sysinfo=True
logging_sqlcommand=True

[postgresql]
dbadm_syslog_table_name="dbadm.sys_log"

dbadm_session_info_query="SELECT current_database() as current_database,
                               current_user as current_user,
                               substr(version(),1,position('(' in version())-1) as version,
                               pg_backend_pid() as sid;"

[oracle]
lib_dir="C:\app\oracle\product\instantclient_23_4"

dbadm_syslog_table_name="dbadm.sys_log"

dbadm_session_info_query="SELECT SYS_CONTEXT ('USERENV', 'INSTANCE_NAME') as current_database,
                             SYS_CONTEXT ('USERENV', 'SESSION_USER') as current_user,
                             (select 'Oracle '||version_full from v$instance) as version,
                             SYS_CONTEXT ('USERENV', 'SID') as sid
                        FROM dual;"
